In [1]:
import os
import pandas as pd
from glob import glob

## class description
<img src = "./daily_mission/class_description.png" width=40%>

In [2]:
def classificate(mask, gender, age):
    label = 0
    
    if mask == "incorrect":
        label += 6
    elif mask == "not_wear":
        label += 12
        
    if gender == "female":
        label += 3
        
    if age >= 30 and age < 60:
        label += 1
    elif age >= 60:
        label += 2
        
    return label

In [3]:
df = pd.read_csv("/opt/ml/input/data/train/train.csv")
df

          id  gender   race  age                    path
0     000001  female  Asian   45  000001_female_Asian_45
1     000002  female  Asian   52  000002_female_Asian_52
2     000004    male  Asian   54    000004_male_Asian_54
3     000005  female  Asian   58  000005_female_Asian_58
4     000006  female  Asian   59  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954    male  Asian   19    006954_male_Asian_19
2696  006955    male  Asian   19    006955_male_Asian_19
2697  006956    male  Asian   19    006956_male_Asian_19
2698  006957    male  Asian   20    006957_male_Asian_20
2699  006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 5 columns]

In [4]:
df.loc[0]

id                        000001
gender                    female
race                       Asian
age                           45
path      000001_female_Asian_45
Name: 0, dtype: object

In [5]:
glob("/opt/ml/input/data/train/images/" + df["path"][0] + "/*")

['/opt/ml/input/data/train/images/000001_female_Asian_45/mask4.jpg',
 '/opt/ml/input/data/train/images/000001_female_Asian_45/normal.jpg',
 '/opt/ml/input/data/train/images/000001_female_Asian_45/mask3.jpg',
 '/opt/ml/input/data/train/images/000001_female_Asian_45/mask1.jpg',
 '/opt/ml/input/data/train/images/000001_female_Asian_45/incorrect_mask.jpg',
 '/opt/ml/input/data/train/images/000001_female_Asian_45/mask5.jpg',
 '/opt/ml/input/data/train/images/000001_female_Asian_45/mask2.jpg']

In [6]:
data = [("id", "filepath", "label")]

for i in df.index:
    id = df.iloc[i]["id"]
    gender = df.iloc[i]["gender"]
    age = df.iloc[i]["age"]    
    path = df.iloc[i]["path"]
    
    for filepath in glob("/opt/ml/input/data/train/images/" + df["path"][i] + "/*"):
        if "incorrect" in filepath:
            mask = "incorrect"
        elif "normal" in filepath:
            mask = "not_wear"
        else:
            mask = "correct"
        
        label = classificate(mask, gender, age)
        data.append((id, filepath, label))

In [7]:
dataframe = pd.DataFrame(data)
dataframe.to_csv("/opt/ml/input/data/train/labeled_data_id.csv", header=False, index=False)